<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.house.dao.HouseDao">

    <select id="getAllHouse" resultType="House">
        SELECT * FROM house
    </select>

    <select id="findHouseById" resultType="House">
       SELECT * FROM house
         where houseId = #{houseId}
    </select>

    <insert id="addHouse" parameterType="House">
                INSERT INTO house(
        saleType
        ,houseType
        ,area
        ,price
        ,communityName
        ,address
        ,authorTel
        ,authorName
        ,des
        ,imgSrc
        )
        VALUES (#{saleType}, #{houseType},#{area}, #{price},#{communityName},
        #{address}, #{authorTel},#{authorName},#{des},#{imgSrc})
        </insert>

    <delete id="deleteHouseById" parameterType="int">
        DELETE FROM house
        WHERE houseId = #{houseId}
    </delete>

    <update id="saveImgSrc">
        UPDATE house SET imgSrc=#{1}
        WHERE houseId=#{0}
    </update>

</mapper>