<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.house.dao.SecondHouseDao">

    <select id="getAllHouse" resultType="SecondHouse">
        SELECT * FROM secondHouse
    </select>

    <select id="getHousesByToken" resultType="SecondHouse">
        SELECT * from secondHouse where houseToken=#{houseToken}
    </select>

    <select id="getIndexHouse" resultType="SecondHouse">
        SELECT * from secondHouse where houseToken=2 order by houseId desc limit 0,6;
    </select>

    <select id="getHouseByUserId" resultType="SecondHouse">
        SELECT * from secondHouse WHERE useId=#{useId}
    </select>

    <select id="getHouseListByCommunityName" resultType="SecondHouse">
        SELECT * FROM secondHouse where communityName=#{communityName}
    </select>

    <select id="findHouseById" resultType="SecondHouse">
        SELECT * FROM secondHouse
        where houseId = #{houseId}
    </select>

    <select id="searchForHouse" resultType="SecondHouse">
        SELECT * from secondHouse WHERE price BETWEEN #{minPrice} AND #{maxPrice} and area BETWEEN #{minArea} and #{maxArea} and province like #{province} and city like #{city} and county like #{county} and houseType like #{houseType} and address like #{address}
    </select>

    <insert id="addHouse" parameterType="SecondHouse" useGeneratedKeys="true" keyProperty="houseId">
        INSERT INTO house(
        saleType
        ,houseType
        ,area
        ,price
        ,communityName
        ,address
        ,authorTel
        ,authorName
        ,des
        ,imgSrc
        ,houseToken
        ,useId
        ,city
        ,province
        ,county
        )
        VALUES (#{saleType}, #{houseType},#{area}, #{price},#{communityName},
        #{address}, #{authorTel},#{authorName},#{des},#{imgSrc},#{houseToken},#{useId},#{city},#{province},#{county})
    </insert>

    <delete id="deleteHouseById" parameterType="int">
        DELETE FROM secondHouse
        WHERE houseId = #{houseId}
    </delete>

    <update id="saveImgSrc">
        UPDATE secondHouse SET imgSrc=#{1}
        WHERE houseId=#{0}
    </update>

    <update id="updateHouseById" parameterType="SecondHouse">
        UPDATE secondHouse SET saleType=#{saleType},houseType=#{houseType},area=#{area},price=#{price},communityName=#{communityName},address=#{address},authorTel=#{authorTel},authorName=#{authorName},des=#{des},imgSrc=#{imgSrc},houseToken=#{houseToken},imgNum=#{imgNum},useId=#{useId},city=#{city} WHERE houseId=#{houseId}
    </update>

    <update id="updateHouseToken">
        UPDATE  secondHouse SET houseToken=2 where houseId=#{houseId}
    </update>

</mapper>